<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CDN VueJs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <!-- CDN Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

  <title>Vue Email List</title>
</head>

<body>
  
  <div id="app">

    <div v-if="loading">loading ...</div>
    
    <ol v-else>
      <!-- Stampiamo tutta la mailing list -->
      <li v-for="mail in maiList">{{mail}}</li>
    </ol>

  </div>

  <script src="script.js"></script>
</body>

</html>